* {box-sizing: border-box;}

 .characters{
              display: grid;
              grid-gap: 10px;
              grid-auto-rows: minmax(120px, auto);
            grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "h"
            "i"
            ;

            
            font-family:helvetica;
            text-transform:uppercase;
            margin:0 calc(50% - (940px / 3));
            width: 90%;
            margin-left: 5%; 
}

 .character{
            
            border-radius:10px;
            font-size:1.2em;
            color:white;
            text-shadow:0px 0px  2px black;
            padding: 10px;
            border: 2px solid black;

            display:flex;
            align-items:center;
            justify-content: center;
            
        }
.beemo{
    border-color: #BAE0CD;
    background-color: #23B1A5;
    grid-area: a;
    
}

.finn{
    border: 2px solid #00ADE3;
    background-color: #FFFFFF;
    grid-area: b;
  
}

.jack{
    border: 2px solid #FCB823;
    background-color: #FCB823;
    grid-area: c;
    
}

.marceline{
    border: 2px solid #EEF1F3;
    background-color: #020306;
     grid-area: d;
}
.miss-rainicorn{
    border: 2px solid #E0ABCE;
    background-color: #F8F390;
    grid-area: e;
}

.princesse-chewingum{
    border: 2px solid #E7CEE3;
    background-color: #F299BF;
    padding: 10px;
    grid-area: f;
}

.princesse-des-flammes{
    border: 2px solid #FFA300;
    background-color: #FF410B;
    padding: 10px;
    grid-area: g;
}

.princesse-lumpy-space{
    border: 2px solid #BB9DC8;
    background-color: #FFDF74;
    padding: 10px;
    grid-area: h;
}

.roi-des-glaces{
    border: 2px solid #A3D8F5;
    background-color: #0072BC;
    padding: 10px;
    grid-area: i;
}
 @media screen and (min-width: 768px) {
    .characters{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "a ."
        "a b"
        "c  c"
        "d  e"
        "d  i"
        "f f"
        "f f"
        "g g"
        "h h"
        ;
      
    }

}
    @media screen and (min-width: 1024px) {
        .characters{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
        "a b f"
        "a c f"
        "a d f"
        "a e f"
        "g g g"
        "h h h"
        ". i ."
        ;
        }   
    } 
    }  
  }
}